---
import IconLink from "./IconLink.astro";

interface Link {
  name: string;
  url: string;
}

export interface Props {
  name: string;
  desc: string;
  url: string;
  techs: string[];
  gitHub: Link;
  documentation?: Link;
}

const { name, desc, url, techs, gitHub, documentation } = Astro.props;
---

<div class="flex max-w-xs flex-col rounded-md border border-zinc-100/5 bg-white/5">
  <div class="relative rounded-t-md bg-white/5 p-4 hover:bg-white/10">
    <a
      class="text-xl font-semibold before:absolute before:inset-0 before:content-['']"
      href={url}
      target="_blank"
      rel="noopener noreferrer">{name}</a
    >
    <p class="text-sm text-zinc-100/80">{desc}</p>
    <svg
      class="absolute right-4 top-4 h-5 w-5 fill-zinc-200"
      focusable="false"
      aria-hidden="true"
      viewBox="0 0 24 24"
    >
      <path d="m12 4-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
    </svg>
  </div>
  <ul class="flex flex-wrap gap-x-2 gap-y-1 p-4">
    {
      techs.map((tech) => (
        <li class="flex items-center justify-center rounded-full bg-white/5 px-2 text-xs text-zinc-100/70">
          {tech}
        </li>
      ))
    }
  </ul>
  <ul class="flex flex-wrap gap-1 p-4">
    <li>
      <IconLink href={gitHub.url} text={gitHub.name}>
        <svg class="h-5 w-5 fill-zinc-200" focusable="false" aria-hidden="true" viewBox="0 0 24 24">
          <path
            d="M12 1.27a11 11 0 00-3.48 21.46c.55.09.73-.28.73-.55v-1.84c-3.03.64-3.67-1.46-3.67-1.46-.55-1.29-1.28-1.65-1.28-1.65-.92-.65.1-.65.1-.65 1.1 0 1.73 1.1 1.73 1.1.92 1.65 2.57 1.2 3.21.92a2 2 0 01.64-1.47c-2.47-.27-5.04-1.19-5.04-5.5 0-1.1.46-2.1 1.2-2.84a3.76 3.76 0 010-2.93s.91-.28 3.11 1.1c1.8-.49 3.7-.49 5.5 0 2.1-1.38 3.02-1.1 3.02-1.1a3.76 3.76 0 010 2.93c.83.74 1.2 1.74 1.2 2.94 0 4.21-2.57 5.13-5.04 5.4.45.37.82.92.82 2.02v3.03c0 .27.1.64.73.55A11 11 0 0012 1.27"
          ></path>
        </svg>
      </IconLink>
    </li>
    {
      documentation && (
        <li>
          <IconLink href={documentation.url} text={documentation.name}>
            <svg
              class="h-5 w-5 fill-zinc-200"
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
            >
              <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
            </svg>
          </IconLink>
        </li>
      )
    }
  </ul>
</div>
